<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tv_test?autoReconnect=true&amp;characterEncoding=utf-8&amp;useUnicode=true&amp;connectionCollation=utf8_unicode_ci&amp;characterSetResults=utf8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>  -->

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">14c4bd20</property>
        <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-east-04.cleardb.com:3306/heroku_d598f10d747228b?autoReconnect=true&amp;characterEncoding=utf-8&amp;useUnicode=true&amp;connectionCollation=utf8_unicode_ci&amp;characterSetResults=utf8</property>
        <property name="hibernate.connection.username">bc11b4d93b8d9b</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

        <mapping class="com.project.core.persistence.entity.RolesEntity" />
        <mapping class="com.project.core.persistence.entity.UsersEntity" />
        <mapping class="com.project.core.persistence.entity.DiscountEntity" />
        <mapping class="com.project.core.persistence.entity.ManuFacterEntity" />
        <mapping class="com.project.core.persistence.entity.OrderDetailsEntity" />
        <mapping class="com.project.core.persistence.entity.OrderItemsEntity" />
        <mapping class="com.project.core.persistence.entity.ProductEntity" />
    </session-factory>
</hibernate-configuration>
