/.settings/
/.vscode/
/target/
/htv-core-common/target/
/htv-core-common/.settings/
/htv-core-dao/target/
/htv-core-dao/.settings/
/htv-core-dao-impl/target/
/htv-core-dao-impl/.settings/
/htv-core-data/target/
/htv-core-data/.settings/
/htv-core-dto/target/
/htv-core-dto/.settings/
/htv-core-persistence-data/target/
/htv-core-persistence-data/.settings/
/htv-core-service/target/
/htv-core-service/.settings/
/htv-core-service-impl/target/
/htv-core-service-impl/.settings/
/htv-core-test/target/
/htv-core-test/.settings/
/htv-core-utils/target/
/htv-core-utils/.settings/
/htv-core-web/target/
/htv-core-web/.settings/
/htv-web/target/
/htv-web/.settings/
/htv-web-logic/target/
/htv-web-logic/.settings/